/* Estilos personalizados para el formulario de login */

.login-card {
    background: rgba(249, 249, 249, 0.987);
    /* Transparente estilo glass */
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    /* Soporte Safari */

    border-radius: 20px;
    /* más redondeado estilo mac */
    padding: 25px;

    border: 1.5px solid rgba(224, 10, 10, 0.859);
    /* borde brillante */
    box-shadow: 0 0 25px rgba(255, 0, 0, 0.396);
    /* sombra más suave y amplia */

    max-width: 500px;
    margin-top: 25px;
}

.btn-login {
    width: auto;
    /* Solo ocupa el ancho de su contenido */
    padding-inline: 20px;
    /* Un poco de espacio horizontal */
    align-self: flex-start;
    /* Se alinea a la izquierda del contenedor */
}